# Enumerate

In [3]:
# It assign an index number

students=['naveen','Ratna','vivaan']

In [4]:
for name in enumerate(students):
    print(name)

(0, 'naveen')
(1, 'Ratna')
(2, 'vivaan')

In [8]:
#you can start index from any number

for i,name in enumerate(students,14):
    print(i,name)

14 naveen
15 Ratna
16 vivaan

# ZIP

In [3]:
# Zip the data

student_name=['N','R','V','S','C']
student_marks=[53,74,62,81,55]

student_details=list(zip(student_name,student_marks)) # convert into list
student_details

[('N', 53), ('R', 74), ('V', 62), ('S', 81), ('C', 55)]

# Unzip

In [4]:
name,marks_num=zip(*student_details)

In [5]:
name

('N', 'R', 'V', 'S', 'C')

In [6]:
marks_num

(53, 74, 62, 81, 55)

# Enumerate and Zip

In [14]:
student_name=['N','R','V','S','C']
student_marks=[53,74,62,81,55]
for i,(name,marks)in enumerate(zip(student_name,student_marks),1):
    print(i,name,marks)

1 N 53
2 R 74
3 V 62
4 S 81
5 C 55

# Break and continue

In [26]:
city=['beng','del','noida']

for val in city:
    if val=="del":
        break
    print(val)

beng

In [28]:
salary=[2000,3000,5000,5500,6000]

for val in salary:
    if val>4600:
        break
    print(val)

2000
3000

In [30]:
city=['beng','del','noida','aligarh']

for val in city:
    if val=="del":
        continue
    print(val)

beng
noida
aligarh

In [34]:
salary=[2000,3000,5000,5500,6000]

for val in salary:
    if val>6000:
        continue
    print(val)

2000
3000
5000
5500
6000

# range() function

In [35]:
print(range(10))

range(0, 10)

In [36]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
roll_numbers=list(range(1,8))

In [38]:
roll_numbers

[1, 2, 3, 4, 5, 6, 7]

In [39]:
step_size=list(range(0,31,3))
step_size

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [40]:
incr_by_hun=list(range(100,1600,100))
incr_by_hun

[100,
 200,
 300,
 400,
 500,
 600,
 700,
 800,
 900,
 1000,
 1100,
 1200,
 1300,
 1400,
 1500]

In [41]:
reverse=list(range(1600,100,-100))
reverse

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200]

# Functions

In [42]:
#simple print hello function

def say_hello():# user define function, no arguments
    print('This is just a sample')

In [44]:
# call function any where
say_hello()

This is just a sample

In [47]:
# a simple greeting function one argument

def greeting(name):
    print('hello',name)
    print('hello %s' %name)# join string

In [48]:
greeting('dear students')

hello dear students
hello dear students

In [4]:
# using return
# salary update example without return

def salary_incr(salary):
    
    if salary <=9000:
        (salary+1000)
    else:
        salary

In [2]:
print('your new salary=', salary_incr(1500))

your new salary= None

In [15]:
# with return

def salary_incr(salary):
    
    if salary <=9000:
        return(salary+1000)
    else:
        return salary

In [16]:
print('your new salary=', salary_incr(1500))

your new salary= 2500

In [9]:
# with multiple arguments(adding student marks)

def student_marks(math,science,english):
    return(math+science+english)

In [10]:
print('your total marks=', student_marks(55,45,50))

your total marks= 150

In [11]:
# store total marks

total_marks=student_marks(80,50,80)
total_marks

210

In [12]:
print('Total Marks=' , total_marks,'\nperc=',total_marks/3,'%')

Total Marks= 210
perc= 70.0 %

In [16]:
# change every time
total_marks=student_marks(320,30,20)
if total_marks<90:
    print(total_marks, '- you are fail')
elif total_marks>90 and total_marks<150:
        print(total_marks, '- pass')
elif total_marks>151 and total_marks<250:
            print(total_marks, '- First class')
else:
                print(total_marks, '- distinction')

370 - distinction

In [66]:
# how it works real time

def phone_price(phone_maker, phone_age, phone_model_gb):
    if phone_maker=='iPHONE 11':
        if 0<phone_age<=6:
            if phone_model_gb==64:
                print('Rs 40000 -Rs 42000')
    elif phone_model_gb==128:
                    print('Rs 45000 - Rs 50000')
                    if 6<phone_age<=12:
                        if phone_model_gb==64:
                            print('Rs 30000 - Rs 35000')
                        elif phone_model_gb==128:
                            print('Rs 37000 - Rs 40000')
    elif phone_maker=='Samsung B110': 
                                if 0<phone_age<=6:
                                    print('Rs 800 - Rs 900')
                                elif 6<phone_age<=12:
                                        print('Rs 700 - Rs750')

In [70]:
phone_price('Samsung B110',12,0)

Rs 700 - Rs750

In [72]:
# creating a function to chek if a number is even, if even then square, it else print its not even number

def sqre(number):
    for n in range(2,number):
        if n%2==0: # % modular which return remaining number
            print('square:', n**2)
        else:
                print('It is an odd number:',n)

In [73]:
sqre(6)

square: 4
It is an odd number: 3
square: 16
It is an odd number: 5

# LAMBDA FUNCTION

lambda arguments : Expression

In [74]:
add_num=lambda y : y+30
print(add_num(50))

80

In [75]:
# multiple arguments

multi_num=lambda a,b : a*b
print(multi_num(15,20))

300

# args and kwargs

*args take multiple inputs
*args- you can gave any data or many numbers of data or arguments

In [ ]:
def my_fun(*args):
    for i in args:
        print('my ags:-',i)

In [77]:
my_fun('India',56,'Delhi',30.40, 234)

my ags:- India
my ags:- 56
my ags:- Delhi
my ags:- 30.4
my ags:- 234

**kwargs take key and value, just like dictionary data. KWARGS - key word arguments

In [80]:
def my_kwargs(**kwargs):
    for key,value in kwargs.items():
        print(key,value)

In [81]:
my_kwargs(students=['Ram','Shiva'],marks=[70,75])

students ['Ram', 'Shiva']
marks [70, 75]

# STRING INDEXING

We know String are a sequence

In [1]:
# assign s as a string

s = 'This Batch Rocks'

In [2]:
s

'This Batch Rocks'

In [3]:
# print the object
print(s)

This Batch Rocks

Let's Start Indexing

In [85]:
# show first element

s[0]

'T'

In [86]:
s[5]

'B'

We can use a (:) to perform slicing

In [87]:
# grab everything past the first term all the way to the length of s which is len(s)

s[1:]  # starting point is included and ending point is excluded

'his Batch Rocks'

In [88]:
# note that there is no change to the original s

s

'This Batch Rocks'

In [89]:
# grab everything up to the 3rd index

s[:3]

'Thi'

In [90]:
s[3:8] # start included and end 8 excluded

's Bat'

In [4]:
# we can also use negative indexing to go backwads
# last letter(one index behind 0 so it looks back around)

s[-1]

's'

In [5]:
s[-2]

'k'

In [6]:
s[-3]

'c'

In [7]:
s[:-1] # end data excluded

'This Batch Rock'

In [8]:
# grab every thing, but go in step size of 1

s[ : :2]

'Ti ac ok'

In [10]:
# grab every thing, but go in step size of 2

s[:5:-2]

'scRht'

# map()

The map is a function that takes in two arguments

1. A function

2. A sequence iterable
In the form: map(function, sequence)

In [17]:
# function

def grace_marks(marks):
    if marks==30:
        return(marks+5)
    elif marks==31:
        return(marks+4)
    elif marks==32:
        return(marks+3)
    elif marks==33:
        return(marks+2)
    elif marks==34:
        return(marks+1)
    else:
        return marks

In [32]:
# Sequence / data

score=[45,50,30,60,32,30,32,33,31,34,35,34]

In [18]:
# convert into list

total=list(map(grace_marks,score))
print(total)

[45, 50, 35, 60, 35, 35, 35, 35, 35, 35, 35, 35]

In [19]:
# count of student who just passed

total.count(35)

9

# filter()

The function filter(function,list)

In [1]:
def filter_marks(marks):
    if marks<35:
        return marks

In [3]:
 score=[45,50,30,60,32,30,32,33,31,34,35,34,29,28]

In [4]:
failed=list(filter(filter_marks,score))
failed

[30, 32, 30, 32, 33, 31, 34, 34, 29, 28]

# Difference b/w map() and filter()

Map accept all elements in a given list and a function can be  applied to it.

Filter accept all data in a list and runs that through a function to create a new list with all elements that returns True in that function.

In [5]:
#Ex 1 map()

list(map(lambda var:var%2==0, range(5)))

[True, False, True, False, True]

In [6]:
# Ex 2 filter()

list(filter(lambda var:var%2==0, range(5)))

[0, 2, 4]

# Global and Local variable

Global variable defined outside the function.This variable can be used out side as well as inside the function

In [15]:
extra_marks=10     # outside the function
def total_score_glob():
    print('printing inside the function and total is  ', 35+extra_marks)
total_score_glob()

printing inside the function and total is   45

In [14]:
print('printing outside the function and total is  ', 35+extra_marks)

printing outside the function and total is   45

Local variable defined inside the function.This variable can be used inside the function.

In [18]:
def total_score_loc():
    some_marks=50    # inside the function
    print('printing inside the function and total is  ', 50 + some_marks)
total_score_loc()

printing inside the function and total is   100

In [19]:
print('printing outside the function and total is  ', 50 + some_marks) # gives name error: name 'some marks' is not defined

NameError: name 'some_marks' is not defined

In [25]:
# How to use local variable outside the function

def local_global():
    global var20    # define global variable var20
    var20='this is fantastic'
    print(var20)
local_global()

this is fantastic

In [26]:
print(var20)

this is fantastic