In [5]:
num1=20
num2=30
if num1=='20':
    print('Its not 20')
    
elif num2>25:
    print('Its greater than 25')

Its greater than 25

# LOOPS

# FOR LOOP

In [1]:
location=['Benguluru','Noida','Chennai']
print(location)

['Benguluru', 'Noida', 'Chennai']

In [2]:
# list of string use For loop

location=['Benguluru','Noida','Chennai']
for i in location:
    print(i)

Benguluru
Noida
Chennai

In [4]:
#Example

salary=[2000,4000,5000,7000,4500]
for val in salary:
    if val>5500:
        print(val)

7000

In [19]:
# Example 

student_scores=[35,67,78,79,12,34]
for marks in student_scores:
    if marks>60:
        if marks>70:
            print(marks, '- Distintion')
        else:
            print(marks, '- First Class')
    elif marks>50 and marks<=60:
         print(marks, '- Second Class')
    elif marks>=35:
         print(marks, '- Just Pass')
    else:
        print(marks, '- Failed')

35 - Just Pass
67 - First Class
78 - Distintion
79 - Distintion
12 - Failed
34 - Failed

# LIST COMPREHENSION

In [21]:
# Keep result inside the list

salary=[2000,4000,5000,7000,8000,4500]
sal=[val for val in salary if val>5500]
sal

[7000, 8000]

In [22]:
# List of numbers

daily_sales=[100,150,100,200,150,200,300]
# variable to store the sum
income_till_date=0
#iterate over the list
for val in daily_sales:
    income_till_date=income_till_date+val
    print("income till date =>", income_till_date)

income till date => 100
income till date => 250
income till date => 350
income till date => 550
income till date => 700
income till date => 900
income till date => 1200

In [34]:
# for loop with else

digits=[10,20,30]
for i in digits:
    print(i)
    
else:
        print('No item left')

10
20
30
No item left

# WHILE LOOP

In [10]:
#use of while loop

i=0
while i<20:
    i=i+1
    
    print( 'Data Trained')

Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained
Data Trained

In [2]:
import time
result=time.localtime()
print(result)

time.struct_time(tm_year=2022, tm_mon=6, tm_mday=20, tm_hour=17, tm_min=1, tm_sec=30, tm_wday=0, tm_yday=171, tm_isdst=0)

In [ ]:
while True:
    result=time.localtime()
    if result.tm_hour== and result.tm_min==
        print('wake up buddy')
    break

# Enumerate

In [1]:
students=['naveen','Ratna','vivaan']
for name in enumerate(students):
    print(name)

(0, 'naveen')
(1, 'Ratna')
(2, 'vivaan')